* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
  text-align: center;
}
.user-container,
.remote-container {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px #aaa;
}
h3 { 
  margin: 10px;
}
.user-video,
.remote-video {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #acacac;
}
video {
  max-width: 100%;
  max-height: 100%;
}
